---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout>
  <h1 class="font-display text-4xl">Contact</h1>
  <p class="text-lg">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
  </p>
</BaseLayout>
